
  <article class="card question">

      <h2><%= @question.title %></h2>
      <h4> <%= @question.created_at.strftime("%d %b. %Y")  %> by <a href="/users/<%= @question.author.id %>"><%= @question.author.username %></a></h4>
      <h5>Votes: <%= @question.total_votes %></h5>
      <p><%= @question.body %></p>

<div class="vote">
        <a href="/questions/<%= @question.id %>/vote" class="fa fa-arrow-circle-up"></a>
        <a href="/questions/<%= @question.id %>/delete-vote" class="fa fa-arrow-circle-down"></a>

         <% if (logged_in?) && (current_user.id == @question.user_id) %>
          <a href="/questions/<%= @question.id %>/delete">Delete</a>
        <% end %>
      </div><div><button class="answer_button" >Answer</button></div>

</article>

           <div class="card comment">
              <% @question.comments.each do |comment| %>
                <p class="com"><%=comment.body %> by <%=comment.commentor.username%></p>
              <% end %>
            </div>

<div class="form-wrapper">

  <% if @errors %>
    <div class="errors-wrapper">
      <span>Your answer could not be saved:</span>
      <ul class="errors">
        <% @errors.each do |error| %>
          <li class="error"><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% if logged_in? %>
  <form class="answer-form" method="post" action="/questions/<%= @question.id %>/answer">
    <h1>ANSWER</h1>
    <textarea id="answer" name="answer" type="text" ></textarea>
    <button type="submit">SUBMIT</button>
  </form>
<% end %>
</div>


<%= erb :'comments/_new_question_comment', locals: { commentable: @question } %>


<div class="answer-container">
    <% @question.answers.each do |answer| %>
    <% @answer = answer %>
    <div class="card">
        <p><%= answer.body %></p>
        <h5><%= answer.votes.count %> posers thought this was cool</h5>
        <div class="vote-buttons">
          <a href="/answers/<%= answer.id %>/vote" class="fa fa-arrow-circle-up"></a>
          <a href="/answers/<%= answer.id %>/delete-vote" class="fa fa-arrow-circle-down"></a>
        </div>
        <div class="answer-user-details">
          <h4><%= answer.created_at.strftime("%d %b. %Y") %> by <a href="/users/<%= answer.author.id %>"><%= answer.author.username %></a></h4>
        </div>
    </div>
    <% if answer.comments.count != 0 %>
      <div class="card comment">
        <% answer.comments.each do |comment| %>
          <p class="com"><%=comment.body %> by <a class="above" href="/users/<%=comment.commentor.id%>"><%=comment.commentor.username%></a></p>
        <% end %>
      </div>
    <% end %>
    <%= erb :'comments/_new_answer_comment', locals: { commentable: @answer } %>
  <% end %>
</div>
