<article class="card question">
      <h2><%= @question.title %></h2>
      <h4> <%= @question.created_at.strftime("%d %b. %Y")  %> by <a href="/users/<%= @question.author.id %>"><%= @question.author.username %></a></h4>

        <h5>Votes: <%= @question.total_votes %></h5>

      <p><%= @question.body %></p>
      <div class="vote">
        <a href="/questions/<%= @question.id %>/vote" class="fa fa-arrow-circle-up"></a>
        <a href="/questions/<%= @question.id %>/delete-vote" class="fa fa-arrow-circle-down"></a>
        <% if (logged_in?) && (current_user.id == @question.user_id) %>
          <a href="/questions/<%= @question.id %>/delete">Delete</a>
        <% end %>
      </div>
</article>

<div class="form-wrapper">

  <% if @errors %>
    <div class="errors-wrapper">
      <span>Your answer could not be saved:</span>
      <ul class="errors">
        <% @errors.each do |error| %>
          <li class="error"><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% if logged_in? %>
  <form class="answer-form" method="post" action="/questions/<%= @question.id %>/answer">
    <h1>ANSWER</h1>
    <textarea id="answer" name="answer" type="text" ></textarea>
    <br>

    <button type="submit">SUBMIT</button>
  </form>
<% end %>
</div>



<div class="answer-container">
    <% @question.answers.each do |answer| %>
    <div class="card">
        <p><%= answer.body %></p>
        <div class="vote-buttons">
          <a href="/questions/<%= @question.id %>/vote" class="fa fa-arrow-circle-up"></a>
          <a href="/questions/<%= @question.id %>/delete-vote" class="fa fa-arrow-circle-down"></a>
        </div>
        <div class="answer-user-details">
          <h4><%= answer.created_at.strftime("%d %b. %Y") %> by <a href="/users/<%= answer.author.id %>"><%= answer.author.username %></a></h4>
        </div>
    </div>

  <% end %>
</div>
