<div class="wrapper">
	<div id="hero">
		<div class="header">
				<form method="POST" action="/questions/new">
					<input name="title" type="text" placeholder="title">
					<textarea name="body" type="text" placeholder="question"></textarea>
					<button type="submit">ASK</button>
				</form>
		</div>
	</div>
</div>

<div class="welcome">
	<% @user_questions.each do |question| %>
		<article class="card long" id="<%= question.id %>">
			<div class="vote-stuff">
				<a href="#" class="fa fa-arrow-circle-up"></a>
				<h5>Posted On: <%= question.made_on.strftime("%d %b. %Y") %></h5>
				<h5>Votes: <%= question.votes.count %></h5>
				<h6>Answers: <%= question.answers.count %></h6>
				<h6>Comments: <%= question.comments %></h6>
				<a href="#" class="fa fa-arrow-circle-down"></a>
			</div>
<!-- 			<a href='/questions/<%= question.id %>/vote' class="fa fa-sort-desc vote-button"></a> -->
			<div class="content">
				<h5><a href='/questions/<%= question.id %>'><%= question.title %></a></h5>
				<p><%= question.body %></p>
			</div>

			<div class="author">
				<h5><%= question.author.username %></h5>
			</div>
		</article>
	<% end %>
</div>
