<div class="wrapper">
	<div id="hero">
		<div class="header">
			<% if logged_in? %>
				<% if (current_user.id == @user.id)%>
					<form method="POST" action="/questions/new">
						<input name="title" type="text" placeholder="title">
						<textarea name="body" type="text" placeholder="question"></textarea>
						<button type="submit">ASK</button>
					</form>
				<% else %>
					<h1>WELCOME TO</h1>
					<h1><%=@user.username.upcase%>'s</h1>
					<img class="profile-pic" src="<%=@user.profile_pic%>">
				<% end %>
			<% else %>
				<h1>WELCOME TO</h1>
				<h1><%=@user.username.upcase%>'s</h1>
				<img class="profile-pic" src="<%=@user.profile_pic%>">
			<% end %>
		</div>
	</div>
</div>

<div class="welcome">
	<% if @user_questions.count == 0 %>
		<h1 class="center-text"><%= @user.username.upcase %> HAS NO QUESTIONS</h1>
	<% else %>
		<% @user_questions.each do |question| %>
			<article class="card long" id="<%= question.id %>">
				<div class="vote-stuff">
					<h5>Posted On: <%= question.made_on.strftime("%d %b. %Y") %></h5>
					<h5>Votes: <%= question.total_votes %></h5>
					<h6>Answers: <%= question.total_answers %></h6>
					<h6>Comments: <%= question.total_comments %></h6>
					<div class="vote-buttons">
						<a href="/questions/<%= question.id %>/vote" class="fa fa-arrow-circle-up"></a>
						<a href="/questions/<%= question.id %>/delete-vote" class="fa fa-arrow-circle-down"></a>
					</div>
				</div>
				<div class="content">
					<h5><a href='/questions/<%= question.id %>'><%= question.title %></a></h5>
					<p><%= question.body %></p>
				</div>

				<div class="author">
					<h5><a href="/users/<%= question.author.id %>"><%= question.author.username %></a></h5>
				</div>
			</article>
		<% end %>
	<% end %>
</div>
