<div class="wrapper">
	<div id="hero">
		<div class="header">
			<h1>Profile Page</h1>
			<h1>Welcome <a href="/users/<%=current_user.id%>"><%=current_user.username%></a></h1>
		</div>
	</div>
</div>

<div class="welcome">
	<% @user_questions.each do |question| %>
		<article class="card long" id="<%= question.id %>">
			<div class="vote-stuff">
				<h5>Created On: <%= question.created_at %></h5>
				<h5>Votes: <%= question.votes.count %></h5>
				<h6>Answers: <%= question.answers.count %></h6>
			</div>
<!-- 			<a href='/questions/<%= question.id %>/vote' class="fa fa-sort-desc vote-button"></a> -->
			<div class="content">
				<h5><a href='/questions/<%= question.id %>'><%= question.title %></a></h5>
				<p><%= question.body %></p>
			</div>

			<div class="author">
				<h5><%= question.author.username %></h5>
			</div>
		</article>
	<% end %>
</div>