<div class="wrapper">
	<div id="hero">
		<div class="header">
			<% if logged_in? %>
				<h1>SCROLL DOWN</h1>
			<% else %>
				<h1> HI! </h1>
				<h1>PLEASE <a href="/users/login">LOG IN</a> OR <a href="/users/new">REGISTER</a></h1>
			<% end %>
		</div>
	</div>
</div>

<div class="welcome">
	<% @questions.each do |question| %>
		<article class="card long" id="<%= question.id %>">
			<div class="vote-stuff">
				<h5>Posted On: <%= question.made_on.strftime("%d %b. %Y") %></h5>
				<h6>Votes: <%= question.total_votes %></h6>
				<h6>Answers: <%= question.total_answers %></h6>
				<h6>Comments: <%= question.total_comments %></h6>

			</div>
<!-- 			<a href='/questions/<%= question.id %>/vote' class="fa fa-sort-desc vote-button"></a> -->
			<div class="content">
				<h5><a href='/questions/<%= question.id %>'><%= question.title %></a></h5>
				<p><%= question.body %></p>
			</div>

			<div class="author">
				<h5><a href="/users/<%= question.author.id %>"><%= question.author.username %></a></h5>
				<a href="/users/<%= question.author.id %>"><img class="profile-pic-card" src="<%=question.author.profile_pic%>"></a>
			</div>
		</article>
	<% end %>
</div>
