<div class="wrapper">
	<div id="hero">
		<div class="header">
			<% if logged_in? %>
				<h1>SCROLL DOWN</h1>
			<% else %>
				<h1> Hi! </h1>
				<h1>Please <a href="/users/login">log in</a> or <a href="/users/new">register</a></h1>
			<% end %>
		</div>
	</div>
</div>

<div class="welcome">
	<% @questions.each do |question| %>
		<article class="card long" id="<%= question.id %>">
			<div class="vote-stuff">
				<h5>Posted On: <%= question.made_on.strftime("%d %b. %Y") %></h5>
				<h6>Votes: <%= question.total_votes %></h6>
				<h6>Answers: <%= question.total_answers %></h6>
				<h6>Comments: <%= question.total_comments %></h6>
				<div class="vote-buttons">
					<a href="/questions/<%= question.id %>/vote" class="fa fa-arrow-circle-up"></a>
					<a href="/questions/<%= question.id %>/delete-vote" class="fa fa-arrow-circle-down"></a>
				</div>
			</div>
<!-- 			<a href='/questions/<%= question.id %>/vote' class="fa fa-sort-desc vote-button"></a> -->
			<div class="content">
				<h5><a href='/questions/<%= question.id %>'><%= question.title %></a></h5>
				<p><%= question.body %></p>
			</div>

			<div class="author">
				<h5><a href="/users/<%= question.author.id %>"><%= question.author.username %></a></h5>
			</div>
		</article>
	<% end %>
</div>
